Bottleneck
Brotli
brotlipy==0.7.0
certifi==2021.10.8
cffi
chardet
charset-normalizer==2.0.7
click
colorama
cryptography
cycler==0.10.0
dash==2.0.0
dash-bootstrap-components
dash-colorscales
dash-core-components==2.0.0
dash-daq
dash-html-components==2.0.0
dash-renderer==1.1.2
dash-table==5.0.0
dataclasses
decorator==4.4.2
et-xmlfile==1.1.0
Flask
Flask-Compress==1.10.1
flask-ngrok==0.0.25
future
idna==3.3
itsdangerous
Jinja2
joblib
kaleido==0.2.1
kiwisolver
lz4
MarkupSafe
matplotlib
missingno==0.4.2
mkl-fft==1.3.0
mkl-random
mkl-service==2.4.0
networkx
numexpr
numpy
olefile
openpyxl
pandas
pandoc-fignos==2.4.0
pandoc-xnos==2.5.0
patsy
Pillow
plotly
ppscore
psutil==5.8.0
pycparser
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil
pytz==2021.3
PyYAML==5.4.1
requests
scikit-learn
scipy
seaborn
six
squarify==0.4.3
statsmodels
strsimpy==0.2.1
tenacity
threadpoolctl
tornado
urllib3
Werkzeug==2.0.2
win-inet-pton
wincertstore==0.2
xarray
xlrd
